<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>AIFBAYP</title>

<!--// Stylesheets //-->
<%= stylesheet_link_tag "style", :media => "all" %>
<%= stylesheet_link_tag "color", :media => "all" %>
<!--[if IE 8 ]><%= stylesheet_link_tag "iefix", :media => "all" %><![endif]-->

<!--// Javascripts //-->
<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "animatedcollapse" %>
<%= javascript_include_tag "ddsmoothmenu" %>
<%= javascript_include_tag "jquery.nivo.slider" %>
<%= javascript_include_tag "ddsmoothmenu" %>
<%= javascript_include_tag "jquery.infinite-carousel" %>
<%= javascript_include_tag "scrolltopcontrol" %>
<%= javascript_include_tag "functions" %>

<%= javascript_include_tag "jquery.easing.1.3" %>
<%= javascript_include_tag "jquery.quicksand" %>
<%= javascript_include_tag "jquery.fancybox-1.3.1" %>
<%= javascript_include_tag "lightbox" %>
<%= javascript_include_tag "caroufredsel" %>
<%= javascript_include_tag "banner" %>
</head>

<%= csrf_meta_tags %>

</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=377193195688707";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--<div id="top-bar">
	<div class="inner">
    	<!-- Top Bar Posts Start --> <!--
    	<div class="small-posts">
        	<p>MLALALLALALALAL. <a href="#">Keep Reading</a></p>
        </div>
        <!-- Top Bar Posts End -->
        <!-- Top Links Start --><!--
        <div class="toplinks">
        	<a href="javascript:animatedcollapse.toggle('loginbox')" class="loginbtn">LOGINNOW</a>
            <!-- Login Box Start --><!--
            <div id="loginbox">
            	<h3 class="upper">User Login</h3>
                <ul>
             	    <li class="name"><input type="text" value="User Name" class="bar" /></li>
                    <li class="password"><input type="password" value="Password" class="bar" /></li>
                </ul>
                <div class="btns-sec">
                	<button class="backcolr dark">Submit</button>
                    <p>Need an Account? <a href="#">Sign Up</a></p>
                </div>
            </div>
            <!-- Login Box End -->
            <!-- Top Links Start --><!--
            <ul class="top-links">
            	<li><a href="#">About</a></li>
                <li><a href="#">Calendar</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Map/Directions</a></li>
                <li><a href="#">Donate</a></li>
            </ul>
            <!-- Top Links End -->
        <!--</div>
        <!-- Top Links End -->
        <!--<div class="clear"></div>
    </div>
</div>
<!-- Top Bar End -->
<!-- Header Start -->
<div id="header">
	<div class="inner">
    	<!-- Top Header Section Start -->
        <div class="top-head">
        	<!-- Logo Start -->
        	<div class="logo">
            	<a href="http://aifbayp.herokuapp.com"><img src="http://db.tt/BmmqiHKG" alt="" height=70px /></a>
            </div>
            <!-- Logo End -->
            <!-- Right Section Start -->
            <div class="right-sec">
            	<!-- Search Start 
            	<div class="search">
                	<h5>Search Now</h5>
                    <ul>
                    	<li><input type="text" class="bar" /></li>
                        <li><input type="button" class="go backcolr" value="Go" /></li>
                    </ul>
                </div>
                <!-- Search End -->
                <!-- Services Start -->
                <div class="service-sec">
            	    <h5>Our Mission</h5>
                    <h5>Something awesome</h5>
                    <p>And some details</p>
                </div>
                <!-- Services End -->
            </div>
            <!-- Right Section End -->
        	<div class="clear"></div>
        </div>
        <!-- Top Header Section End -->
        <div class="clear"></div>

<%= yield %>
<!-- Footer Start -->
<div id="footer">
	<div class="inner">
    	<!-- Widget PlaceHolder Start -->
        <div class="widget-placeholder">
        	<!-- Text Widget Start -->
        	<div class="widget text-widget">
            	<a href="#"><img src="http://db.tt/BmmqiHKG" alt="" height=50px /></a>
                <br />
                <br />
                <p>
                    American Indian Foundation<br />
                    Young Professionals<br />
                    Bay Area<br />
                    Email: <a href="mailto:contact@aifbayp.com">contact@aifbayp.com</a><br />
                </p>
            </div>
            <!-- Text Widget End -->
            <!-- Social Network Start -->
            <div class="widget social-network">
            	<h5>Follow Us</h5>
                <ul>
                	<li><a href="#"><img src="http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/tweeter-icon.png" /></a></li>
                    <li><a href="#"><img src="http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/facebook-icon.png" alt="" /></a></li>
                    <li><a href="#"><img src="http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/vimeo-icon.png" alt="" /></a></li>
                    <li><a href="#"><img src="http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/lastfm-icon.png" alt="" /></a></li>
                    <li><a href="#"><img src="http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/myspace-icon.png" alt="" /></a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <!-- Social Network End -->
        </div>
        <!-- Widget PlaceHolder End -->
        <!-- Widget PlaceHolder Start -->
        <div class="widget-placeholder">
        	<!-- Blog Roll Start -->
        	<div class="widget blogroll">
            	<h4>Blog Roll</h4>
                <ul>
                	<li><a href="#">AIF Blog Link<span>(65)</span></a></li>
                    <li><a href="#">AIF Blog Link<span>(13)</span></a></li>
                    <li><a href="#">AIF Blog Linkspan>(05)</span></a></li>
                    <li><a href="#">AIF Blog Link<span>(02)</span></a></li>
                    <li><a href="#">AIF Blog Link<span>(01)</span></a></li>
                    <li><a href="#">AIF Blog Link<span>(12)</span></a></li>
                </ul>
            </div>
            <!-- Blog Roll End -->
        </div>
        <!-- Widget PlaceHolder End -->
        <!-- Widget PlaceHolder Start -->
        <div class="widget-placeholder">
        	<!-- Latest Tweets Start -->
        	<div class="widget latest-tweets">
            	<h4>Latest Tweets</h4>
                <div class="tweet">
                	<a href="#">@tamasgergocs</a> Thanks for posting the photos, Tamás! Let us know when you have your next event #aifbayp
                </div>
                <a href="#" class="follow-tweet">Follow Us On Twitter</a>
            </div>
            <!-- Latest Tweets End -->
        </div>
        <!-- Widget PlaceHolder End -->
        <!-- Widget PlaceHolder Start -->
        <div class="widget-placeholder">
        	<!-- Contact Form Start -->
        	<div class="widget contact-form">
	            <h4>Contact Us</h4>
            	<ul>
                	<li><input type="text" class="bar" value="Name" /></li>
                    <li><input type="text" class="bar" value="Email" /></li>
                    <li><textarea rows="" cols="">Message</textarea></li>
                    <li><button class="backcolr">Submit</button></li>
                </ul>
            </div>
            <!-- Contact Form End -->
        </div>
        <!-- Widget PlaceHolder End -->
        <div class="clear"></div>
    </div>
    <!-- Copyrights Start -->
    <div class="copyrights">
    	<div class="inner" style="color:whitesmoke">
        	<!-- Copyrights Text Start -->
        	<p>© 2012 AIFBAYP. All rights reserved</p>
            <!-- Copyrights Text End -->
            <!-- Go To Top Start -->
            <a href="#top" class="top" style="color:whitesmoke">Back to top</a>
            <!-- Go To Top Start -->
            <div class="clear"></div>
        </div>
    </div>
    <!-- Copyrights End -->
</div>
<!-- Footer End --> 

<!-- FACEBOOK
<div class="fb-like" data-href="http://www.facebook.com/AIFBayAreaYP" data-send="false" data-layout="button_count" data-width="240" data-show-faces="false"></div>

-->


</body>
</html>
